<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/text.css">
    <title>BlendedUI</title>
</head>

<body>
    <div class="nav">
        <div class="nav-header">
            <a class="brand" href="/index.html">BlendedUI</a>
        </div>
        <div class="nav-item">
            <ul>
                <li class="nav-list">
                    <a href="" class="nav-link"><i class="fab fa-github"></i></a>
                </li>


                <li class="nav-list">
                    <a href="" class="nav-link"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>

    </div>
    <div class="flex-container">
        <div class="sidebar">
            <div class="aside">
                <span class="aside-header">Components</span>
                <ul class="list">
                    <li class="aside-item">
                        <a class="aside-link" href="/components/Avatar-Badges/avatar.html">Avatar</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Avatar-Badges/badge.html">Badge</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Alert-Button/button.html">Button</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Alert-Button/alert.html">Alert</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Card/card.html">Card</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Image-Input/image.html">Image</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Image-Input/input.html">Input</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link active" href="/components/Typography/typography.html">Typography</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="content-main">

            <span class="description">
                <h1>Typography</h1>
                <p class="sub-heading font-size-10 underline">Text Utilities
                </p>
            </span>

            <div class="container">
                <div class="headings">
                    <h6>h6.This is a heading</h6>
                    <h5>h5.This is a heading</h5>
                    <h4>h4.This is a heading</h4>
                    <h3>h3.This is a heading</h3>
                    <h2>h2.This is a heading</h2>
                    <h1>h1.This is a heading</h1>
                </div>

            </div>

            <div class="code">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%253Ch6%253Eh6.This%2520is%2520a%2520heading%253C%252Fh6%253E%2520%250A%2520%2520%2520%2520%253Ch5%253Eh5.This%2520is%2520a%2520heading%253C%252Fh5%253E%2520%2520%250A%2520%2520%2520%2520%253Ch4%253Eh4.This%2520is%2520a%2520heading%253C%252Fh4%253E%2520%2520%250A%2520%2520%2520%2520%253Ch3%253Eh3.This%2520is%2520a%2520heading%253C%252Fh3%253E%2520%250A%2520%2520%2520%2520%253Ch2%253Eh2.This%2520is%2520a%2520heading%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Ch1%253Eh1.This%2520is%2520a%2520heading%253C%252Fh1%253E">
                </iframe>
            </div>

            <div class="container">
                <div class="text-align font-size-10">
                    <p class="text-left">
                        text-left
                    </p>

                    <p class="text-center">
                        text-center
                    </p>

                    <p class="text-right">
                        text-right
                    </p>
                </div>
            </div>

            <div class="code">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cp%2520class%253D%2522text-left%2522%253Etext-left%253C%252Fp%253E%250A%250A%2520%253Cp%2520class%253D%2522text-center%2522%253Etext-center%253C%252Fp%253E%250A%250A%2520%253Cp%2520class%253D%2522text-right%2522%253Etext-right%253C%252Fp%253E">
                </iframe>
            </div>

            <div class="container">
                <div class="text-align">
                    <p class="text-lg">large text</p>
                    <p class="text-sm">small text</p>
                    <p class="grey-text">grey text </p>
                </div>
            </div>

            <div class="code">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%2520%253Cp%2520class%253D%2522text-lg%2522%253Elarge%2520text%253C%252Fp%253E%250A%2520%2520%2520%253Cp%2520class%253D%2522text-sm%2522%253Esmall%2520text%253C%252Fp%253E%250A%2520%2520%2520%253Cp%2520class%253D%2522grey-text%2522%253Egrey%2520text%2520%253C%252Fp%253E">
</iframe>
            </div>

        </div>
    </div>
</body>

</html>