<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <title>BlendedUI</title>
</head>

<body>
    <nav class="nav nav-fixed bg-light">
        <div class="nav-header">
            <a class="brand" href="/index.html">BlendedUI</a>
        </div>
        <div class="nav-item">
            <li class="nav-list">
                <a href="https://github.com/jatinmore" target="_blank" class="nav-link"><i class="fab fa-github" id="nav-icons"></i></a>
            </li>

            <li class="nav-list">
                <a href="https://twitter.com/JatinMore9" target="_blank" class="nav-link"><i class="fab fa-twitter" id="nav-icons"></i></a>
            </li>
        </div>

    </nav>
    <div class="flex-container">
        <div class="sidebar">
            <div class="aside">
                <span class="aside-header">Components</span>
                <ul class="list">
                    <li class="aside-item">
                        <a class="aside-link" href="/components/Avatar-Badges/avatar.html">Avatar</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Avatar-Badges/badge.html">Badge</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Alert-Button/button.html">Button</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Alert-Button/alert.html">Alert</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Card/card.html">Card</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Image-Input/image.html">Image</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Image-Input/input.html">Input</a>
                    </li>
                    <li class="aside-item">
                        <a class="aside-link" href="/components/Typography/typography.html">Typography</a>
                    </li>

                    <li class="aside-item">
                        <a class="aside-link" href="/components/List/list.html">List</a>
                    </li>

                    <li class="aside-item">
                        <a class="aside-link active" href="/components/Navigation/navigation.html">Navigation</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="content-main">

            <span class="description">
                <h1 class="h1">Navigation</h1>
                 <p class="sub-heading font-size-10">
                    A navigation bar, at its very core, is a list of links used for navigating through various pages.
                 </p>            
            </span>

            <div class="container">
                <div class="description">
                    <span class="underline">Standard Nav</span>

                </div>
                <nav class="navbar bg-color box-shadow text-white">
                    <li class="nav-item">Home</li>
                    <ul class="navbar-nav">
                        <li class="nav-item">Contact</li>
                        <li class="nav-item">About</li>
                    </ul>
                    <li class="nav-item">Login</li>
                </nav>
            </div>
            <div class="code">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522navbar%2522%253E%250A%2509%253Cli%2520class%253D%2522nav-item%2522%253EHome%253C%252Fli%253E%250A%2520%2520%253Cul%2520class%253D%2522navbar-nav%2522%253E%250A%2509%253Cli%2520class%253D%2522nav-item%2522%253EContact%253C%252Fli%253E%250A%2509%253Cli%2520class%253D%2522nav-item%2522%253EAbout%253C%252Fli%253E%250A%2520%2520%253C%252Ful%253E%250A%2509%253Cli%2520class%253D%2522nav-item%2522%253ELogin%253C%252Fli%253E%250A%253C%252Fdiv%253E">
              </iframe>
            </div>

        </div>




    </div>
    </div>
</body>

</html>