<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/grid.css">
    <title>BlendedUI</title>
</head>

<body>
    <nav class="nav nav-fixed bg-light">
        <div class="nav-header">
            <a class="brand" href="/index.html">BlendedUI</a>
        </div>
        <div class="nav-item">
            <li class="nav-list">
                <a href="https://github.com/jatinmore" target="_blank" class="nav-link"><i class="fab fa-github" id="nav-icons"></i></a>
            </li>

            <li class="nav-list">
                <a href="https://twitter.com/JatinMore9" target="_blank" class="nav-link"><i class="fab fa-twitter" id="nav-icons"></i></a>
            </li>
        </div>

    </nav>

    <div class="flex-container">

        <div class="sidebar">
            <div class="aside">
                <span class="aside-header">Components</span>
                <ul class="list">
                    <li class="aside-item">
                        <a class="aside-link" href="/components/Avatar-Badges/avatar.html">Avatar</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Avatar-Badges/badge.html">Badge</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Alert-Button/button.html">Button</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Alert-Button/alert.html">Alert</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Card/card.html">Card</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Image-Input/image.html">Image</a>
                    </li>


                    <li class="aside-item">
                        <a class="aside-link" href="/components/Image-Input/input.html">Input</a>
                    </li>
                    <li class="aside-item">
                        <a class="aside-link" href="/components/Typography/typography.html">Typography</a>
                    </li>

                    <li class="aside-item">
                        <a class="aside-link" href="/components/List/list.html">List</a>
                    </li>

                    <li class="aside-item">
                        <a class="aside-link" href="/components/Navigation/navigation.html">Navigation</a>
                    </li>

                    <li class="aside-item">
                        <a class="aside-link" href="/components//Modal/modal.html">Modal</a>
                    </li>

                    <li class="aside-item">
                        <a class="aside-link" href="../Rating/rating.html">Rating</a>
                    </li>

                    <li class="aside-item">
                        <a class="aside-link" href="./snackbar.html">Snackbar</a>
                    </li>

                    <li class="aside-item">
                        <a class="aside-link active" href="./grid.html">Grid</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-main">
            <span class="description">
                <h1>Grid</h1>
                <p class="sub-heading">
                    Grid is a container which align elements into rows and columns,it makes webpages responsive across different browsers.
                </p>
            </span>

            <div class="container">
                <div class="description">
                    <span class="underline">Grid with Two items</span>
                </div>
                <div class="items">
                    <div class="grid-container grid-two">
                        <div class="grid-item">1</div>
                        <div class="grid-item">2</div>
                        <div class="grid-item">3</div>
                        <div class="grid-item">4</div>
                    </div>
                </div>
            </div>

            <div class="code">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-container%2520grid-two%2522%253E%250A%2509%253Cdiv%2520class%253D%2522grid-item%2522%253E1%253C%252Fdiv%253E%250A%2509%253Cdiv%2520class%253D%2522grid-item%2522%253E2%253C%252Fdiv%253E%250A%2509%253Cdiv%2520class%253D%2522grid-item%2522%253E3%253C%252Fdiv%253E%250A%2509%253Cdiv%2520class%253D%2522grid-item%2522%253E4%253C%252Fdiv%253E%250A%253C%252Fdiv%253E">
              </iframe>
            </div>
            <div class="container">
                <div class="description">
                    <span class="underline">Grid with Three items</span>
                </div>
                <div class="items">

                    <div class="grid-container grid-three">
                        <div class="grid-item">1</div>
                        <div class="grid-item">2</div>
                        <div class="grid-item">3</div>
                        <div class="grid-item">4</div>
                        <div class="grid-item">5</div>
                        <div class="grid-item">6</div>
                    </div>
                </div>
            </div>
            <div class="code">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cdiv%2520class%253D%2522grid-container%2520grid-three%2522%253E%250A%2509%253Cdiv%2520class%253D%2522grid-item%2522%253E1%253C%252Fdiv%253E%250A%2509%253Cdiv%2520class%253D%2522grid-item%2522%253E2%253C%252Fdiv%253E%250A%2509%253Cdiv%2520class%253D%2522grid-item%2522%253E3%253C%252Fdiv%253E%250A%2509%253Cdiv%2520class%253D%2522grid-item%2522%253E4%253C%252Fdiv%253E%250A%2509%253Cdiv%2520class%253D%2522grid-item%2522%253E5%253C%252Fdiv%253E%250A%2509%253Cdiv%2520class%253D%2522grid-item%2522%253E6%253C%252Fdiv%253E%250A%2520%2520%253C%252Fdiv%253E">
</iframe>
            </div>






        </div>
    </div>
</body>

</html>