@import url('/styles/main.css');
.dismiss {
    display: block;
    background: var(--alert-primary);
}

.btn-close {
    position: relative;
    outline: none;
    border: none;
    float: right;
    cursor: pointer;
}

.reset {
    display: none;
    padding: 1rem;
    outline: none;
    border: none;
    background: var(--secondarycolor);
    color: var(--actioncolor);
    width: 5rem;
    cursor: pointer;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reset {
    animation: appear 1s ease 0s 1 normal;
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    60% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.btn-close {
    animation: appear 2s ease-out 0s 1 normal;
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}