@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
*{  
    box-sizing: border-box;
    font-family: 'Ubuntu Mono';
    margin: 0;
    padding: 0;

}
.nav-header
{
    cursor: default;
}

:root{
    --maincolor: #fdba31;
    --secondarycolor:#282828;
    --actioncolor:#ffffff;
}
body{
    background-color:var(--maincolor)
}

.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.nav-list
{
    list-style-type: none;
}

.nav-link
{

    text-decoration: none;
    color: var(--secondarycolor);
    font-size: 1.2rem;
}
.nav-link:hover
{
    transition: 0.5s;
    font-size: 1.5rem;
}

.nav-list
{
    display: inline;
    padding: 0rem 1.8rem;
}


.brand
{
    font-size: 1.8rem;
}

.btn-action
{
    background-color: var(--secondarycolor);
    color: var(--actioncolor);
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}

.main
{
    display: flex;
    flex-direction: column;
    margin: 8rem 10rem;
    text-align: center;
    align-items: center;
}
.content
{
    font-size: 3rem;
    padding: 2rem;

}