@import url('/styles/main.css');
* {
    box-sizing: border-box;
    font-family: 'Ubuntu Mono';
    margin: 0;
    padding: 0;
}

.nav-header {
    cursor: default;
}

.home {
    background-color: var(--maincolor);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}


/* .nav-item {
    float: right;
} */

.nav-list {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: var(--secondarycolor);
    font-size: 1.2rem;
}

.nav-link:hover {
    /* transition: 0.8s; */
    font-size: 1.5rem;
    transition: font-size 0.5s ease 0s;
}

#nav-icons:hover {
    /* transition: 0.8s; */
    font-size: 1.5rem;
    transition: font-size 0.5s ease 0s;
}

.nav-list {
    display: inline;
    padding: 0rem 1.8rem;
}

.brand {
    font-size: 1.8rem;
    color: var(--secondarycolor);
}

.nav-header a {
    text-decoration: none;
}

.btn-action {
    background-color: var(--secondarycolor);
    color: var(--actioncolor);
    padding: 0.8rem;
    height: fit-content;
    /* font-size: 1rem; */
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-action a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 8rem 10rem;
    text-align: center;
    align-items: center;
}

.content {
    font-size: 3rem;
    padding: 2rem;
}

#nav-icons {
    font-size: 1.2rem;
}