@import url(/styles/app.css);
@import url(/styles/docs.css);

.container
{
    width: 100%;
}
.avatar-img-lg
{
    padding: 1rem;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.avatar-img-sm
{
    padding: 1rem;
    border-radius: 50%;
    width: 100px;
    height: 100px; 
}

.flex-container
{
    display: flex;


}

.content-main
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding:0% 3% ;
    width: 100%;
}

.description
{
    font-size: larger;
    margin-bottom: 1rem;

    width: 100%;
}


/* .snippet
{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 774px; height: 242px; border:0; transform: scale(1); overflow:hidden;


    
} */
.code iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.avatar-img-md
{
    padding: 1rem;
    border-radius: 50%;
    width: 120px;
    height:120px;
}

.code
{
    position: relative;
    /* border: 1px solid black; */
    /* 16:9 */
    height: 20rem;
    margin: 1rem;
    width: 100%;
    overflow: hidden;
}


