@import url('/styles/main.css');
.avatar-img-lg {
    padding: 1rem;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.avatar-img-sm {
    padding: 1rem;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.flex-container {
    display: flex;
}

.content-main {
    margin-left: 12rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0% 3%;
    width: 100%;
    margin-top: 4rem;
    /* overflow-y: scroll; */
    height: 95vh;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
    z-index: 1;
}

.description {
    margin-top: 1.5rem;
    width: 100%;
}

.code iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.avatar-img-md {
    padding: 1rem;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.code {
    position: relative;
    height: 20rem;
    margin: 1rem;
    width: 100%;
    overflow: hidden;
}