@import url('/styles/main.css');
.btn-badge {
    padding: 0.8rem;
    border: none;
    outline: none;
    margin: 0.2rem;
    border-radius: 50px;
    cursor: pointer;
}

.count {
    position: relative;
    top: -0.5rem;
}

.fa-dot-circle {
    color: green;
}

.avatar-badge {
    border-radius: 100px;
    outline: none;
    border: none;
    padding: 0.5rem;
}

.icon-active {
    position: relative;
    bottom: -2rem;
    right: 3rem;
}