@import url('/styles/main.css');
.btn-badge {
    display: flex;
    padding: 1.3rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    margin: 0.3rem;
    border-radius: 50%;
    cursor: pointer;
    background: none;
}

.count {
    position: relative;
    top: -0.7rem;
    /* background: var(--red); */
    border-radius: 50%;
    border-color: var(--white);
    padding: 0.1rem;
    color: var(--white);
    color: var(--red);
}

.fa-dot-circle {
    color: var(--green);
}

.avatar-badge {
    border-radius: 100px;
    outline: none;
    border: none;
    padding: 0.5rem;
}

.icon-active {
    position: relative;
    bottom: -2rem;
    right: 3rem;
}