@import url('/styles/main.css');
.float {
    border-radius: 500px;
    width: fit-content;
    padding: 1.5rem;
    outline: none;
    border: none;
    background: var(--secondarycolor);
    color: var(--white);
}

.btn-action:hover {
    filter: brightness(0.9);
}

.btn:hover {
    filter: brightness(0.7);
    transition: all 1.2s;
}

.fab {
    font-size: 2rem;
}

.fa-facebook {
    color: #4267B2;
}

.btn-icon,
.btn-float,
.btn-link {
    height: max-content;
    width: fit-content;
}