@import url('/styles/main.css');
.card {
    display: flex;
    flex-direction: column;
    /* background: purple; */
    padding: 1rem;
    width: auto;
    max-width: 20rem;
    height: auto;
    border-radius: 0.2rem;
    border: 1px solid black;
    /* box-shadow: 8px -4px 35px -2px rgba(0, 0, 0, 0.77); */
}

.horizontal-img {
    /* height: 25;
    width: 12vw; */
    margin: auto;
    height: 12rem;
    padding: 0.5rem;
}

.horizontal-card {
    border: 1px solid black;
    width: 25rem;
    height: 12rem;
}

.body-h {
    padding: 1rem;
    position: relative;
    bottom: 12rem;
    left: 8rem;
    float: right;
}

.card-img {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 15rem;
    height: auto;
    padding: 0.5rem;
}

.card-buttons {
    float: right;
}