    @import url('/styles/main.css');
    .card {
        display: flex;
        flex-direction: column;
        padding: 0.8rem;
        width: 18rem;
        border-radius: 0.2rem;
        border: 1px outset;
        transition: all 0.3s;
    }
    
    .card:hover {
        /* box-shadow: 4px -4px 20px -2px rgba(0, 0, 0, 0.77); */
        box-shadow: 4px 7px 19px 1px rgb(0 0 0 / 59%);
    }
    
    .horizontal-img {
        margin: auto;
        height: 12rem;
        padding: 0.5rem;
    }
    
    .horizontal-card {
        border: 1px solid black;
        width: 25rem;
        height: 12rem;
    }
    
    .body-h {
        padding: 1rem;
        position: relative;
        bottom: 13rem;
        left: 8rem;
        float: right;
    }
    
    .card-img {
        /* align-items: center; */
        /* justify-content: center; */
        /* margin: auto; */
        /* width: 100%;
        max-width: 15rem;
        height: 20rem; */
        /* height: 16.8rem; */
        /* width: 17rem; */
        max-width: 100%;
        max-height: 100%;
    }
    
    .card-buttons {
        float: right;
    }
    
    .text-only {
        position: relative;
        padding: 1rem;
        align-items: center;
        height: auto;
        border: 1px solid black;
    }
    
    .close {
        color: var(--secondarycolor);
        width: 2rem;
        height: 2rem;
        padding: 0.4rem;
        /* font-size: 1.2rem; */
        border-radius: 50%;
        /* bottom: 27.3rem;
        left: 0.8rem; */
        position: relative;
        bottom: 36.5rem;
        left: 1rem;
        border: 1px solid var(--black);
        /* background: transparent; */
        text-shadow: 0 1px 0 #fff;
    }
    
    .card-badge {
        position: absolute;
        top: 0;
        margin: 0rem;
        right: 15.4rem;
    }
    
    .card-dismiss {
        display: flex;
        background-color: var(--purple);
        color: var(--white);
    }
    
    .card-text-overlay {
        position: relative;
        bottom: 4rem;
        left: 4rem;
        color: whitesmoke;
    }