@import url('./main.css');
.grid-item {
    background: rebeccapurple;
    padding: 5rem;
    border: 2px solid var(--black);
    color: var(--white);
}

.grid-container {
    display: grid;
}

.grid-two {
    grid-template-columns: 12rem 12rem;
}

.grid-three {
    grid-template-columns: auto auto auto;
}