@import url('/styles/main.css');
.lists {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid var(--black);
    padding: 2rem;
}

.list-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
}

.list-item {
    padding: 1rem;
    border-bottom: 1px solid var(--black);
}

.stack-list {
    border: 1px solid var(--black);
}

.stack-item {
    display: flex;
    border-bottom: 1px solid var(--black);
    padding: 0.5rem;
}