@import url('/styles/main.css');
.lists {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid var(--black);
    padding: 2rem;
}

.list-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
}

.list-item {
    padding: 1rem;
    border-bottom: 1px solid var(--black);
}

.stack-list {
    border: 1px solid var(--black);
}

.stack-list li {
    margin: 1rem;
}

.stack-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--black);
    padding: 2rem;
    width: 25rem;
    height: 8rem;
}

.stack-item:hover {
    background-color: var(--purple);
    color: var(--white);
}

.stack-item i {
    padding: 0.2rem;
}

.icon i {
    color: var(--black);
    font-size: 1.5rem;
}