@import url('/styles/docs.css');
@import url('/styles/app.css');
@import url('/styles/avatar.css');
@import url('/styles/badge.css');
@import url('/styles/button.css');
@import url('/styles/alert.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('/styles/utility.css');

/* container */

.container {
    width: 100%;
}

:root {
    --maincolor: #fdba31;
    --secondarycolor: #282828;
    --actioncolor: #ffffff;
    /* alert color */
    --alert-primary: #eef2fa;
    --alert-secondary: #8acbde;
    --alert-success: #5aca75;
    --alert-warning: #CC3300;
    --alert-dark: #3a3b3c;
    /* text utilities*/
    --black: #282828;
    --grey-text: #808080;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --light: #f7f7f9;
}


/* main docs content */

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--light);
}


/* fontsize */

.font-size-10 {
    font-size: 20px;
}


/* docs content/ sub heading */

.underline {
    text-decoration: underline;
}

.sub-heading {
    color: #3a3b3c;
    padding-top: 2rem;
    margin-left: 2rem;
}


/* for active navigation */

.active {
    background: var(--secondarycolor);
    color: var(--actioncolor);
}


/* buttons */

.btn {
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    margin: 0.25rem 0.125rem;
    width: fit-content;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    width: fit-content;
    height: 2.5rem;
}


/* alert */

.alert {
    margin: 1rem;
    padding: 1rem;
    color: var(--secondarycolor);
    border: 1px solid black;
}